@import '../../../../styles/index.scss';

.preview{
    &.preview-benefits{
        display: flex;
        padding: 1rem;
    }
}

.benefits{
    gap: 1rem;
    background-color: $C-100;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
    .benefit{
        height: 5rem;
        display: flex;
        gap: 1rem;
        border: 2px solid $P-100;
        padding: 1rem 2rem;
        .benefit-icon{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3rem;
        }
        .benefit-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .benefit-title{
                text-transform: uppercase;
                font-size: 1.25rem;
            }
        }
    }
}