@import "../../../../../styles/index.scss";

.card-container {
  width: 100%;
  position: relative;
  &.collapsed {
    .card {
      width: 87%;
    }

    .confirm-btn{
      width: calc(13% + .5rem);
      opacity: 1;
    }
  }
  &.category {
    .card {
      height: 7rem;
    }
  }
  .card {
    position: relative;
    width: 100%;
    height: 6rem;
    background-color: $P-300;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    user-select: none;
    z-index: 2;
    @include transition(width);
    .card-content {
      position: relative;
      height: 100%;
      width: 80%;
      display: flex;
      flex-direction: row;
      align-items: center;
      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 0.5rem;
        max-width: 15rem;
        width: 15rem;

        .title {
          font-size: 1.5rem;
          text-transform: uppercase;
        }
        .description {
          width: 14rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-transform: capitalize;
        }
      }

      .image {
        height: 6rem;
        width: 8rem;
        border-radius: 0.5rem 0 0 0.5rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        
      }

      .icon-container{
        height: 6rem;
        width: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem;
        .card-icon{
          font-size: 4rem;
        }
      }
    }

    .menu {
      color: $P-700;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: 1.5rem;
      width: 2rem;
      height: 2rem;
      &:hover {
        box-shadow: none;
      }
    }
  }

  .confirm-btn{
    opacity: 0;
    width: 0;
    @include transition(opacity, width);
  }
}
