@import '../../../../styles/index.scss';

.category {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  padding: 2rem;
  .category-container {
    height: 100%;
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-right: 2rem;
    z-index: 1;
    .category-title {
      font-size: 2.5rem;
      font-weight: 600;
      text-transform: uppercase;
    }

    .category-background {
      width: 85%;
      height: calc(50% - 3rem);
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 0 15rem 15rem 0;
    }

    .category-bg {
      display: flex;
      width: 100%;
      height: calc(50% - 3rem);
      justify-content: space-between;
      margin-bottom: 2rem;
      .category-background {
        height: 100%;
        border-radius: 15rem 0 0 15rem;
      }

      .category-description {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: start;
        font-size: 1.75rem;
        font-weight: 300;
      }
    }
  }
  .subcategories{
    position: relative;
    width: 30%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    z-index: 1;
    .subcategory {
      border-radius: 0.5rem;
      position: relative;
      cursor: pointer;
      @include transition(box-shadow);

      &:hover{
        box-shadow: 0 0 1rem $P-400;
        .subcategory-title{
            color: $S-800;
        }
      }
      .subcategory-image {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .subcategory-title {
        position: absolute;
        background-color: $P-200;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 0.5rem;
        padding: 0.25rem;
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        background: rgba($P-100, .7);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(5px);
        @include transition(color);
      }
    }
  }
  

  .category-buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: 3rem;
    width: 9rem;
    z-index: 2;
    bottom: 2rem;
    right: calc(30% + 1rem);
  }
  .background- {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 90%;
    background-color: $S-100;
    filter: blur(4rem);
  }
}