@import '../../../styles/index.scss';

.web-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @include transition(left, width);
    &.collapsed {
      left: 30rem;
      margin: auto;
      width: calc(100% - 30rem);
    }
  
    .preview-container {
      width: 100%;
      margin: auto;
      height: 100%;
  
      .preview {
        border: 1px solid $P-600;
        border-radius: 1rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        // padding: 2rem;
      }
    }
  }